!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! Cisco Base Config
!
! A set of basic configurations that will bring
! a newly deployed switch/router up to a state
! where we can use it in a lab/production environment.
! We can erase existing configs by running the following commands:
!   erase startup-config
!   delete vlan.dat
!   reload
!
! Written by Marcus Olander
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
hostname hostname
no ip domain lookup
no ip http server
service password-encryption
!
ip domain-name lab.local
crypto key generate rsa modulus 1024
ip ssh version 2
username cisco secret cisco
!
vtp mode transparent
vtp mode off
!
spanning-tree portfast default
spanning-tree portfast bpduguard default
spanning-tree mode rapid-pvst
!
!interface vlan 1
!  ip address 10.1.0.1 255.255.255.0
!  no shutdown
!
! ip default-gateway
! ip name-server 8.8.8.8 8.8.4.4
!
line vty 0 4
  exec-timeout 60
  transport input ssh
  logging synchronous
  login local
line console 0
  no exec-timeout
  privlege level 15
  logging synchronous
